.box {
    position: fixed;
    top: 200px;
    right: 100px;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}
.graph-holder  {
    border-spacing: 10px;
    border-collapse: separate;
}
.bar {
    background-color: red;
}
